
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    box-shadow: 0 8px 6px -6px green; 
    z-index: 1;
    position: relative;
}

.nav-logo img, .nav-image img {
    height: 50px; 
    
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-links li {
    padding: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-shadow: 0 0 5px green; 
}

.sub-navbar {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #333;
}

.sub-nav-links {
    list-style: none;
    padding: 0;
}

.sub-nav-links li {
    display: inline;
    margin: 0 10px;
}

.sub-nav-links a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    margin-top: 20px;
}
.left-column {
    flex: 50%;
    padding: 10px;
}
.right-column {
    flex: 50%;
    padding: 10px;
}
.image-caption {
    text-align: center;
}
.text-content {
    font-size: 14px;
    line-height: 1.6;
}

.left-column img {
    width: 400px; 
    height: auto; 
    display: block; 
    margin-bottom: 20px;
    margin-left: 200px;
}


